.greetingForm {
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
}

.inputAndButtonContainer {
  display: flex;
  gap: 12px;
  margin: 9px 0 22px;
  position: relative;
}

.error {
  position: absolute;
  top: 37px;
  left: 0;
  color: #cc0000;
  font-size: 14px;
}

.input {
  width: 372px;
  border-radius: 5px;
  border: 1px solid #d1d1d1;
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 12px;
}

.input:focus {
}

.errorInput {
  border-radius: 5px;
  border: 1px solid #cc0000;
}

.button {
  padding: 5px 24px;
  background-color: #0066cc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}

.greeting {
}
